global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: "opareta-monitor"

scrape_configs:
  - job_name: "auth-service"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["auth:3001"]
        labels:
          service: "auth"
          environment: "development"

  - job_name: "payments-service"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["payments:3002"]
        labels:
          service: "payments"
          environment: "development"

  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
